body{
    margin: 0;
}
    
nav{
    display: flex;
    justify-content: space-between;
    margin: 16px 120px 16px 120px;
    
}
.head-icon{
    width: 139px;
}
.head-content{
    display: flex;
    gap: 32px;
    list-style: none;
}
.btn{
   background-color: #30b868;
   border: none;
   border-radius: 5px;
   color: #FAFAFA;
   font-size: 16px;
   font-weight: 600;
   padding: 12.5px 16px 12.5px 16px;
   cursor: pointer;
}
.btn:hover{
    box-shadow: 0px 4px 25px rgba(48,184,104,0.5);
}
.btn1:hover{
    box-shadow: 0px 4px 25px rgba(48,184,104,0.5);
}
.btn2:hover{
    box-shadow: 0px 4px 25px rgba(48,184,104,0.5);
}

.frontpage{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}
.font-container{
    padding: 70px 120px 134px 120px;
}
.font-top{
    display: flex;
    justify-content: center;
}
.font-top p{
       color: #30b868;
       background-color: #FAFAFA;
       text-align: center;
       padding: 8px 12px 8px 12px;
       display: flex;
       align-items: center;
       gap: 6px;
       border-radius: 1000px;
       margin-bottom: 16px;
}

.font-content h1{
        text-align: center;
        font-size: 72px;
        color: #FAFAFA;
        margin: 0;
        
}
.font-content p{
    text-align: center;
    line-height: 24px;
    color: #FAFAFA;
    margin-bottom: 32px;

}
.font-button{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.btn1{
   background-color: #30b868;
   align-items: center;
   display: inline-flex;   
   border: none;
   border-radius: 4px;
   color: #FAFAFA;
   font-size: 16px;
   font-weight: 600;
   padding: 12.5px 16px 12.5px 16px;
   cursor: pointer;
   gap: 10px;
}
.btn2{
   background-color: transparent;
   color: #FAFAFA;
   font-size: 16px;
   font-weight: 600;
   border: 1px solid #FAFAFA; 
   border-radius: ;
   padding: 12px 16px 12px 16px;
   cursor: pointer;
   display: inline-flex;
   gap: 10px;
}

.page02 {
    margin: 15px 136px;
}

.page-content02 {
      text-align: center;
      margin-bottom: 44px;
}
.page-content02 h1{
    font-size: 48px;
    font-style: bold;

}
.page-content02 p {
    color: #627382;
}
.p2{
   
    color: #627382;
    margin: 0;
    text-align: center;
}
.card-box{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card img{
     background-color: #F95555;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
}
.card{
    width: 322px;
    height: 300px;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
}

.p1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
}
.brain-section{
    margin: 120px;
    
}
.brain-container{
    display: flex;
    padding: 120px;
    justify-content: space-between;
    align-items: center;
    gap: 125px;
}
.brain-container p{
    font-size: 16px;
    color: #627382;
}
.brain-img{
    width: 600;
}
.brain-content{
    align-items: center;
}
.brain-title h1 {
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 16px;

}
.brain-point p {
  display: flex;
  align-items: center;
}

.brain-point p img {
  margin-right: 8px; /* horizontal gap between icon and text */
}

.page03{
    margin-bottom:120px ;
    margin-left:120px;
    margin-right:120px ;
    margin-top: 0;
    
}
.page03-content{
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    text-align: center;
    padding: 80px;
}
.page03-content h1{
      font-size: 40px;
}
.page03 p{
    color: #627382;
}
.page03-btn{
    text-align: center;
    margin-top: 24px;
    
}

.foot{
    background-color: #001931;
    
    
    
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 80px 120px 25px 120px;
}
.footer-content{
    color: #FAFAFA;
    font-size: 20px;
    font-weight: 500;
    gap: 16px;
}
.footer-icon img{
    width: 20px;
    justify-items: left;
}

.footer-botom hr {
    border-top: 1px solid #0e3456;
    margin-bottom: 20px;
}
.footer-botom{
    text-align: center;
    color: #FAFAFA;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 30px;
    padding-top: 80px;
}